body{
  background: #39297b;
  color:#fff;
  min-height:100vh;
  padding:20px;
}
   h1{
     text-align:center;
     margin:100px auto 50px;
     font-weight:600;
     font-size:45px;
  }
form{
  width:90%;
  max-width:600px;
  margin:auto;
  height:80px;
  background: #434989;
  display:flex;
  align-items:center;
  border-radius:8px;
}
form input{
  flex:1;
  height:100%;
  border:0;
  outline:0;
  background:transparent;
  color:#fff;
  font-size:18px;
 padding:0 30px;
}
form button{
   padding:0 40px;
   height:100%;
   background:#ff3929;
   color:#fff;
   font-size:18px;
   border:0;
   outline:0;
}
::placeholder{
  color:#fff;
  font-size:18px;
}
#show-more-btn{
  background-color:#ff3929;
  color:#fff;
  border:0;
  outline:0;
  padding:10px 20px;
  border-radius:4px;
  margin:20px auto 100px;
  display:none;
}
@media (max-width: 600px) {
  h1 {
    font-size: 32px;
    margin: 60px auto 30px;
  }

  form {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    height: 50px;
  }

  form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    height: 50px;
  }

  #show-more-btn {
    width: 100%;
    text-align: center;
  }
}

